<!-- Footer -->

<footer>
  <div class="main-content">
    <div class="right box">
    <h3>  The Umtshayelo Foundation</h3>
      <div class="content">
        <%= image_tag "smalltuf.png", class:"img" %>
          © Copyright 2020  The Umtshayelo Foundation - All Rights Reserved<br>For more information on Covid-19: <a href="https://sacoronavirus.co.za/" target="_blank">https://sacoronavirus.co.za/&nbsp;</a><br>Designed by<em> <a href="https://mvmarcoportfolio.herokuapp.com/" target="_blank">...</a></em>
      </div>
    </div>

    <div class="left box">
      <h3> Our Vision</h3>
      <div class="content">
        <p>We encourage the act of ‘giftivism’ (the act of giving generously) and our passion is working alongside those who want to transform communities scarred by poverty and deprivation by offering structure and support. We live in a world in which some have more than they will ever need, while others put their children to bed hungry every night. It is the idea that we are not powerless in the face of degradation, that we can and must help manifest human dignity in the here and now.</p>
        <div class="social">
          <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
          <a href="#"><span class="fab fa-twitter"></span></a>
          <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
          <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
        </div>
      </div>
    </div>


    <div class="center box">
      <h3> Connect with us</h3>
      <div class="content">

        <div class="place">
          <span class="fas fa-map-marker-alt"></span>
          <span class="text">Unit 1, 17 Lood Street, Brackenfell Industrial, Cape Town, 7560, South Africa</span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text"> A.J. Lamour Founding Director, Phone: +27 81 3355438</span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">tuf@example.com</span>
        </div>

      </div>
    </div>

  
  </div>
</footer>