<!-- Footer -->
<footer>
  <div class="content-two">
    <div class="bottom box ">
      <h3> Follow us</h3>
      <div class="final d-flex w-100">

        <div>
          <%= image_tag "smalltuf.png", class: "logo-end p-3" %>
        </div>
        <div class="social d-flex justify-content-center">
          <div class="facebook p-3">
            <a href="https://facebook.com/coding.np"><span class="fab fa-facebook-f"></span></a>
          </div>
          <div class="twitter p-3">
            <a href="#"><span class="fab fa-twitter"></span></a>
          </div>
          <div class="instagram p-3">
            <a href="https://instagram.com/coding.np"><span class="fab fa-instagram"></span></a>
          </div>
          <div class="youtube p-3">
            <a href="https://youtube.com/c/codingnepal"><span class="fab fa-youtube"></span></a>
          </div>
        </div>

      </div>
        <p class="copyright"> © Copyright 2020 The Umtshayelo Foundation - All Rights Reserved
        For more information on Covid-19: https://sacoronavirus.co.za/ 
        Designed by Marco Corapi
        </p>
    </div>
  </div>
</footer>
