<!-- Footer -->
<footer>
  <div class="content-two">
    <div class="bottom square">
      <h2> Follow us</h2>
      <div class="final w-100 d-flex m-0">

        <div>
          <%= image_tag "smalltuf.png", class: "logo-end p-4 m-1" %>
        </div>

        <div class="social d-flex justify-content-center">
          <div class="facebook p-4 m-1">
            <a href="https://www.facebook.com/TheUmtshayeloFoundation/"><span class="fab fa-facebook-f"></span></a>
          </div>
          <div class="twitter p-3 p-4 m-1">
            <a href="https://twitter.com/TUF_SA"><span class="fab fa-twitter"></span></a>
          </div>
          <div class="instagram p-3 p-4 m-1">
            <a href="https://www.linkedin.com/in/stephanie-lamour-6b015860/"><span class="fab fa-instagram"></span></a>
          </div>
          <div class="youtube p-3 p-4 m-1">
            <a href="https://www.youtube.com/channel/UCcgxx8SjzkS0SzeTW38xn1g"><span class="fab fa-youtube"></span></a>
          </div>
        </div>
        
    </div>
      <div class="copyright">
        <p> © Copyright 2020 Morongwa Foundation - All Rights Reserved<br>For more information on Covid-19: 
        <a href="https://sacoronavirus.co.za/" target="_blank">https://sacoronavirus.co.za/&nbsp;</a><br>
        Designed by<em> <a href="https://mvmarcoportfolio.herokuapp.com/" target="_blank">Marco Corapi</a></em>
        </p>
      </div>
  </div>
</footer>

<div></div>