<div class="banner" style="background-image:url(<%= image_url('banner.jpg') %>)">
  <div class="container">
    <h1><strong>You can make the difference</strong></h1>
    <p>Partner with us to drive Integrated Community Development aimed at improving the welfare and livelihoods of marginalised communities </p>
    <%= link_to "Partner with us", "#", class: "btn-primary text-decoration-none" %>
  </div>
</div>