.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("new_banner.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron h1{
  margin-top: 2em;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: $headers-font;
}

.jumbotron p{
  font-size: 1.250em;
  font-weight: 400;
  font-family: $body-font;
}

.btn-banner{
  background-color: #DC4343;
  min-width: 9.375em;
  color: white;
  font-family: $body-font;
  font-weight: 400;
  font-size: 1em;
  padding: 1em 2.25em;
  border-radius: 3.125em;
  margin-right: 3em;
}

a.btn-banner:hover{
  background-color: #c93232;
  text-decoration: none !important;
  color: white;
}

@media (max-width: 675px){
  .jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("new_banner_small.jpg");
    margin: 0 !important;
    padding: 0 !important;
    background-position:left;
    height: 80vh;
  }
  .content-banner {
    float: right;
    align-items: flex-end;
    margin-top: 17em;
  }
  .jumbotron h1{
    margin-left: 5em;
    color: white;
    display: flex;
    alignment-baseline: bottom;
    font-size: 1.7em;
    font-weight: 700;
  }

  .jumbotron p{
    margin-left: 8.5em;
    font-size: 1em;
    text-align: start;
    font-weight: 600;
  }

  .btn-banner{
    min-width: 4.25em;
    font-size: 1em;
    margin-left: 11em;
    margin-right: 0.625em;
    margin-bottom: 0.825em;
  }
}