.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("new_banner.jpg");
  background-size: cover;
  background-position: center;

  h1 {
    margin-top: 2em;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: $headers-font;
  }

  p {
    font-size: 1.25em;
    font-weight: 400;
    font-family: $body-font;
  }
}


.btn-banner {
  background-color: #dc4343;
  min-width: 9.375em;
  color: white;
  font-family: $body-font;
  font-weight: 400;
  font-size: 1.1em;
  padding: 1em 2.25em;
  border-radius: 3.125em;
  margin-right: 3em;
}

a.btn-banner:hover {
  background-color: #c93232;
  text-decoration: none !important;
  color: white;
}

@include for-tablet-portrait-down {
  .jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("new_banner_tablet.jpg");
    background-position: initial;
    background-size: cover;

    padding: 0;
    height: 700px;

    .container-fluid {
      height: 100%;

      .content-banner {
        height: 100%;
        align-items: flex-end;

        .banner-title {
          margin-bottom: 60px;
        }
      }
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1rem;
      }
    }

    @media (max-width: 684px) {
      .container-fluid {
        h1 {
          font-size: 2.6rem;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

@include for-phone-only {
  .jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("new_banner_mobile.jpg");
      background-size: cover;
    height: 500px;

  }
  .content-banner {
    float: right;
    align-items: flex-end;
  }

  .banner-title {
    margin: 0;
    width: 65%;
    height: 30%;
    padding: 0 20px;
    margin-bottom: 0 !important;
    background: white;
    // background: #e6e6e6;
    box-shadow: -3px -10px 15px rgba(0,0,0,0.1);

    &:before {
      content: "";
      display: block;
      margin-left: -20px;
      width: 50%;
      border-top: 6px solid $red;
    }

    h1 {
      color: black;
      font-size: 1.7rem !important;
        font-weight: 700;
        margin-top: 10px;
    }

    .logo-mobile {
      background-image: url("mobile-tuf.png");;
      background-size: cover;
      width: 150px;
      height: 50px;
    }

    @media(max-width: 433px) {
      .jumbotron {
        height: 70vh;
        background-position: center;
      }

      h1 {
        font-size: 1.1rem !important;
      }

      .logo-mobile {
        width: 130px;
        height: 40px;
      }
    }
  }
}
