.jumbotron{
  background-size: cover;
  background-position: center;

}

.jumbotron h1{
  margin-top: 2em;
  font-size: 3.5rem;
  font-weight: 700;
  font-family: $headers-font;
}

.jumbotron p{
  font-size: 1.250em;
  font-weight: 400;
  font-family: $body-font;
}

.btn-banner{
  background-color: #DC4343;
  min-width: 9.375em;
  color: white;
  font-family: $body-font;
  font-weight: 400;
  font-size: 1em;
  padding: 1em 2.25em;
  border-radius: 3.125em;
  margin-right: 3em;
}

a.btn-banner:hover{
  text-decoration: none !important;
  color: white;
}

@media (max-width: 675px){
  .jumbotron{
    margin: 0 !important;
    padding: 0 !important;
  }
  .jumbotron h1{
    color: #DC4343;
    font-size: 1.5em;
    margin-top: 15em;
    margin-bottom: 1em;
    font-weight: 700;
  }

  .jumbotron p{
    font-size: 1em;
    text-align: start;
    font-weight: 700;
  }

  .btn-banner{
    min-width: 6.25em;
    font-size: 1em;
    margin-right: 0.625em;
    margin-bottom: 0.825em;
  }
}