.card {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 0.3125em;
  box-shadow: 0 0 0.3125em rgb(230, 230, 230);
  background-color: #DC4343;
  margin-bottom: 2em;

}

.card h4{
  font-family: $headers-font;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4em;
}
.card p {
  font-family: $body-font;
  font-weight: 400;
  opacity: .5;
}

@media (max-width: 675px) {
  .about{
    margin-bottom: 2em !important;
  }
  .card h4{
    font-size: 1em;
  }
}

@media (max-width: 415px) {
  .card-small{
    margin-top: 2rem !important;
    padding: 1rem !important;
    margin-top: 2rem !important;
  }
}