.contact-title{
  color: #DC4343;
  font-family: $headers-font;
}

.form-input-contact{
  border-radius: 0.3125em;
}

.btn-contact-form{
  background-color: #DC4343;
  min-width: 6.375em;
  color: white; 
  font-family: $body-font;
  font-weight: 400;
  font-size: 1em;
  padding: 0.6em 1.5em !important;
  border-radius: 3.125em;
  border: 2px solid;
}

.btn-contact-form:hover,
.btn-contact-form:focus,
.btn-contact-form:active{
  background: #c93232;
  color: white;
  border: 2px solid;
  outline: none !important;
  box-shadow: none;
}

@media (max-width: 675px){
  .contact-map{
    margin-top: 2em;
  }
}

