.contact-title{
  color: #DC4343;
  font-family: $headers-font;
}

.form-input-contact{
  border-radius: 0.3125em;
}

.btn-contact-form{
  background-color: #DC4343;
  min-width: 9.375em;
  color: white;
  font-family: $body-font;
  font-weight: 400;
  font-size: 1em;
  padding: 1em 2.25em;
  border-radius: 3.125em;
  margin-right: 3em;
}

.btn-contact-form:hover,
.btn-contact-form:focus{
  background: #c93232;
  color: white;
}

@media (max-width: 675px){
  .contact-map{
    margin-top: 2em;
  }
}

