footer {
  margin: 0;
  width: 100%;
  background: white;
}

.final {
  justify-content: space-between;
  align-items: center;
}

.bottom-box {
  width: 100%;
}

.bottom .final .social a{
  padding: 0 2px;
}
.bottom .final .social a span{
  font-size: 1.4375rem;
  background: #DC4343;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
.bottom .final .social a span:hover{
  background: #c93232;
}


.logo-end {
  width: 150px;
  height: auto;
  justify-content: center;
  text-align: center;
}
.final{
  position: relative;
  margin: 130px auto;
  color: #DC4343;
  background-color: white;}


.content-two{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
}
.content-two .box{
  flex-basis: 45%;
  padding: 10px 20px;
}
.box h3{
  text-transform: uppercase;
  color: #DC4343;
  font-weight: bold;
  text-align: center;
}
.box .final{
  margin: 20px 0 0 0;
  position: relative;
}

.bottom .final p{
  text-align: justify;
}

.bottom .final .social{
  margin: 0;
}