body {
  margin: 0;
  font-family: 'Oswald',sans-serif;
  color: white;
}

.banner {
  padding: 200px 0px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  font-size: 20px;
}

.container {
  width: 900px;
  margin: 0 auto;
  text-align: right;
}

.btn-primary {
  background-color: #DC4343;
  color: white;
  padding: 16px 36px;
  border-radius: 50px;
  display: inline-block;
}


.btn-primary:hover {
  background-color: #c93232;
  background: #c93232;
}

.cards {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 80px;
}

.card {
  border: 1px solid (230, 230, 230);
  width: 225px;
  height:225px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  background-color: #DC4343;
}

.card p {
  opacity: .5;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}
.projects {
  background-color: #DC4343;
}

.our-projects {
  height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  background-color: #DC4343;
  color: white;
  margin-bottom: 20PX;
}

.our-projects h2 {
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 1.2;
}

.our-projects p {
  font-size: 20rem;
}

.img {
  width: auto;
  border: 1px solid (230, 230, 230);
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(241, 148, 148);
  text-align: center;
  margin: auto;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #DC4343;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  padding: 2rem;
  align-items: center;
  width: auto;
;
}

.project h3 {
  margin-bottom: 2rem;
}

.project p {
  opacity: .5;
  margin-top: -20;
}

.project img {
    width: auto;
    height: 180px;
}

.project > div {
  width: 800px;
}

.project:nth-child(even) img {
  order: 2;
}

.btn-secondary {
  background-color: white;
  color: #DC4343;
  margin-top: 0rem;
  border-radius: 50px;
  display: inline-block;
  padding: 0.8rem 1.8rem;
}

.btn-secondary:hover {
  color: #DC4343;
  background-color: #F4F4F4;
}


.project:nth-child(odd) btn-secondary {
  order: 2;
}

@media(max-width: 900px) {
  .project {
    display: block;
  }
}
.text {
  padding: 0;
}

.contact-box {
  height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  background-color: #F4F4F4;
  color: #DC4343;
  margin-bottom: 20px;
}
.contact
{
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
  padding: 2rem;
	background: #F4F4F4;
  width: 100%;
	height: 100vh;
	display: grid;
	align-items: center;
}

.contact-map
{
	width: 100%;
	height: auto;
  flex: 50%;
}
.contact-map iframe
{
	width: 100%;
	height: 100%;
}
.contact-form
{
	width: 100%;
  height: auto;
  padding: 30px;
	flex: 50%;
	text-align: center;
}

.contact-form h2
{
  margin-bottom: 10px;
  color: #DC4343;
}

.contact-form-txt
{
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	outline: none;
	margin-bottom: 20px;
  padding: 15px;
}
.contact-form-txt::placeholder
{
	color: #aaa;
}
.contact-form-txtarea
{
	width: 100%;
	height: 150px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid (230, 230, 230);
  border-radius: 5px;
}
.contact-form-textarea::placeholder
{
	color: #aaa;
}

.contact-form-btn
{
	width: 30%;
	border:none;
	outline: none;
	border-radius: 50px;
	background: #DC4343;
	color: white;
	padding: 10px 0;
	cursor: pointer;
	font-size: 18px;
}

.contact-form-btn:hover {
  background-color: #c93232;
}