body {
  margin: 0;
  color: white;
}
// section with all the icons


.content {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
  color: #DC4343;
  background-color: white;
}

.left .content p {
  text-align: justify;
}

section {
  bottom: 0px;
  width: 100%;
  background: white;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 80px;
  padding: 10px 0;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  text-transform: uppercase;
  color: #DC4343;
  font-weight: 600;
  font-weight: bold;
  text-align: center;
}

.box .content {
  margin: 20px 0 0 0;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;

}

.left .content .social a span {
  font-size: 18px;
  background: #DC4343;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: white;  
}

.left .content p {
  text-align: justify;
}

.bottom .content .social a span:hover{
  background: #c93232;
}

.center .content {
  text-align: left;
  overflow: hidden;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #DC4343;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.center .content .fas:hover {
  background: #c93232;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}



.bottom center a {
  color: #f12020;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }

  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .main-content .box {
    margin: 5px 0;
  }
}
.copyright {
  text-align: center;
  color: #DC4343;
}

