.navbar-tuf {
  justify-content: space-between;
  background: white;
}

.navbar-tuf .navbar-collapse {
  flex-grow: 0;
}

.navbar-tuf .navbar-brand img {
  width: 380px;
}

.nav-item {
  font-size: 1.3em;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 31px;
}


.contact-nav{
  background-color: #DC4343;
  border-radius: 3.125em;
  min-width: 6.375em;
  color: white !important;
  padding: 0.5em 1.5em !important;
}

@media (max-width: 768px){
  .navbar-tuf {
    padding-right: 1em !important;
  }
  .navbar-tuf .navbar-brand img {
    width: 200px;
  }
  #paypal-link,
 .nav li.nav-item {
    margin: .5em 0;
  }

  #paypal-link,
  .no-decoration{
    margin-left: 2em !important;
    margin-right: 2em !important;
  }
  .contact-nav{
    max-width: fit-content;
    display: inline-flex;
  }
}

@media (max-width: 411px) {
  #paypal-link,
  .nav-item {
    font-size: 1.1em;
  }
  #paypal-link,
  .no-decoration{
    align-items: initial;
    margin-right: 2em !important;
    text-align: left;
    margin: 0 !important;
  }
}

#paypal-link {
  background: none;
  border:none;
  width: 100%;
}

#paypal-link:focus {
      outline: none;
}
