.navbar-tuf {
  justify-content: space-between;
  background: white;
}

.navbar-tuf .navbar-collapse {
  flex-grow: 0;
}

.navbar-tuf .navbar-brand img {
  width: 380px;
}

.nav-item {
  color: #DC4343;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 31px;
}

.contact-nav{
  background-color: #DC4343;
  border-radius: 3.125em;
  min-width: 6.375em;
  color: white !important;
  padding: 0.5em 1.5em !important;
}

@media (max-width: 675px){
  .navbar-tuf .navbar-brand img {
    width: 200px;
  }
  .navbar-light .navbar-nav .nav-link{
    text-align: right !important;
  }
  nav ul {
    flex-direction: column;
  }
  .nav-item {
    min-width: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    margin: .5em 0;
  }
}