.projects {
  background-color: #dc4343;
  color: white;
  overflow: hidden;
}
/******Typography********/
.projects h2,
.projects h3 {
  font-family: $headers-font;
  font-weight: 600;
}
.projects h2 {
  text-transform: uppercase;
}

.projects p {
  opacity: 0.5;
  font-family: $body-font;
}

hr {
  border-bottom: 2px solid white !important;
  opacity: 0.5;
  width: 55% !important;
  margin-bottom: 4em !important;
}
/****End Typography*****/

.projects img {
  width: auto;
  height: 250px;
  border-radius: 0.3125em;
  float: right;
  margin-right: 3em;
}

.btn-projects {
  margin-top: 2em;
  background-color: white;
  min-width: 9.375em;
  color: #dc4343;
  font-family: $body-font;
  font-weight: 400;
  font-size: 1em;
  padding: 1em 2.25em;
  border-radius: 3.125em;
}

.btn-projects:hover,
.btn-projects:focus {
  color: #dc4343;
}

@media (max-width: 768px) {
  .project-container {
    padding: 0 30px;

    img {
      float: none;
      margin: 0 0 30px 0;
    }
  }

  .projects-text-left,
  .projects-text-right {
    margin-bottom: 30px;
  }
}

@include for-phone-only {
  .project-container {
    padding: 0;

    div {
      text-align: center;
    }

    .project-img-right,
    .project-img-left {
      height: 200px;
    }

    .projects-text-left,
    .projects-text-right {
      min-width: 250px;
      font-size: 0.9rem;
    }

    .btn-projects {
      font-size: 0.8em;
    }
  }
}

// @media (min-width: 675px) {
//   .projects-left-text,
//   .btn-left,
//   .project-img-right{
//     margin-left: 3em;
//   }

//   .projects-title-left{
//     margin-left: 1.8em !important;
//   }

// img.project-img-left{
//   float: right;
//   margin-right: 3em;
// }

//   .projects-left-text,
//   .project-text-right{
//     margin-bottom: 2em;
//   }
//   img.project-img-left{
//     float: right;
//     margin-right: 3em;
//   }
//   .project-text-right{
//     margin-right: 4.5em !important;
//   }
// }
